In [18]:
import pandas as pd
import requests

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_national_capitals"

In [4]:
tables = pd.read_html(url)

In [5]:
len(tables)

2

In [ ]:
import sys

if sys.prefix != sys.base_prefix:
    print("Running in a virtual environment")
else:
    print("Not running in a virtual environment")

Running in a virtual environment

In [10]:
df = tables[1]

In [11]:
df.head()

,City/Town,Country/Territory,Continent,Notes
0,Abidjan (former capital; still hosts some gove...,Ivory Coast (Côte d'Ivoire),Africa,Abidjan is the largest city in Ivory Coast and...
1,Yamoussoukro (de jure),Ivory Coast (Côte d'Ivoire),Africa,Abidjan is the largest city in Ivory Coast and...
2,Abu Dhabi,United Arab Emirates,Asia,NaN
3,Abuja,Nigeria,Africa,Lagos was the capital from 1914 to 1991.
4,Accra,Ghana,Africa,NaN

In [ ]:
df.to_csv("capitals.csv", index=False)

In [ ]:
nrl_url = "https://www.foxsports.com.au/nrl/nrl-premiership/stats/teams"

In [ ]:
request_headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"
}

response = requests.get(nrl_url, headers=request_headers)

html_tables = pd.read_html(response.text, index_col=0)

C:\Users\michael.hudson\AppData\Local\Temp\ipykernel_2744\860979849.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  html_tables = pd.read_html(response.text, index_col=0)

In [21]:
len(html_tables)

32

In [28]:
html_tables[31].head()

,PTS,T,R,RM,LB,TB,OFF,TO20,CR%,GLS,...,SB,SO,PTSC,TC,RMC,LBC,TCK,MT,OFFC,TA
Name,,,,,,,,,,,,,,,,,,,,,
1Roosters,806,141,4355,38611,170,1147,306,656,80,121,...,10,2,557,95,36327,117,8280,896,226,132
2Storm,783,135,4473,39453,181,973,268,779,80,121,...,7,0,491,85,35463,109,7743,780,283,112
3Cowboys,703,120,4340,39298,153,845,187,793,78,109,...,7,0,610,102,36790,114,7896,881,236,106
4Sharks,695,121,4612,39553,135,1022,241,798,79,104,...,6,0,512,87,38296,117,8712,914,256,110
5Sea Eagles,674,118,4215,37480,137,809,171,664,78,100,...,6,0,583,105,38122,132,7594,954,250,105

In [29]:
nrl_df = html_tables[31]

In [30]:
nrl_df.head()

,PTS,T,R,RM,LB,TB,OFF,TO20,CR%,GLS,...,SB,SO,PTSC,TC,RMC,LBC,TCK,MT,OFFC,TA
Name,,,,,,,,,,,,,,,,,,,,,
1Roosters,806,141,4355,38611,170,1147,306,656,80,121,...,10,2,557,95,36327,117,8280,896,226,132
2Storm,783,135,4473,39453,181,973,268,779,80,121,...,7,0,491,85,35463,109,7743,780,283,112
3Cowboys,703,120,4340,39298,153,845,187,793,78,109,...,7,0,610,102,36790,114,7896,881,236,106
4Sharks,695,121,4612,39553,135,1022,241,798,79,104,...,6,0,512,87,38296,117,8712,914,256,110
5Sea Eagles,674,118,4215,37480,137,809,171,664,78,100,...,6,0,583,105,38122,132,7594,954,250,105

In [ ]:
nrl_df.to_csv("nrl2024.csv", index=False)